%height{
	min-height: 300px;

}
#grid1{
	@extend %height;
	
}

#section2{
	@extend %height;

	span {
		display: inline-block;
		transform: scale(2,2);
		margin-bottom: 30px;
		margin-top: 30px;
		box-sizing: border-box;
		padding: 2%;
		border:1px solid $grey;
	
	}
	.card:hover i{
		color:  $mycolor;
		}
	.card:hover span{

			border:1px solid $mycolor;
		
		}


} 
